* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#85ADFF, #4372D1);
}

.start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.pre-level-one {
  height: 100vh;
  display: none;
}

.level-one {
  height: 100vh;
  display: none;
}
#start-img {
  padding-left: -10px;
  height: 200px;
}
/*MAKE SCREEN ANIMATE TO LOOK LIKE ITS GOING INTO THE OCEAN */

.start-title {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 130px;
  margin-bottom: -150px;
}

.instructions-one {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  text-align: center;
}

.instructions-img1 {
  height: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pre1-button {
  background-color:#6A9BFF;
  color:#FFC33D;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

#animate {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 1300px;
}

#animate1 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate4 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate5 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate6 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate7 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate8 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate9 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate10 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate11 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate12 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate13 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate14 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate15 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

.start-button {
  background-color:#6A9BFF;
  color:#FFC33D;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}