* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#85ADFF, #4372D1);
}

.start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.start-screen2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.start-screen3 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.pre-level-one {
  height: 100vh;
  display: none;
}

.pre-level-two {
  height: 100vh;
  display: none;
}

.pre-level-three {
  height: 100vh;
  display: none;
}

.level-one {
  height: 100vh;
  display: none;
}

.level-two {
  height: 100vh;
  display: none;
}

.level-three {
  height: 100vh;
  display: none;
}

#start-img {
  padding-left: -10px;
  height: 200px;
}

.start-title {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 130px;
  margin-bottom: -150px;
}

.instructions-one {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  text-align: center;
}

.instructions-two {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  text-align: center;
}

.instructions-three {
  color:#FFC33D;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  text-align: center;
}

.instructions-img1 {
  height: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.instructions-img2 {
  height: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.instructions-img3 {
  height: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#animate {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
  margin-top: 20px;
}

#animate1 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 1000px;
}

#animate2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate4 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate5 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate6 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate7 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate8 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 5000px;
}

#animate9 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate10 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate11 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate12 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate13 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate14 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 300px;
}

#animate15 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate16 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 1300px;
}

#animate17 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate18 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate19 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate20 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate21 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate22 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 900px;
}

#animate23 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate24 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 300px;
}

#animate25 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate26 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate27 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate28 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate29 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 900px;
}

#animate30 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate31 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate32 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 1300px;
}

#animate33 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 900px;
}

#animate34 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate35 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate36 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate37 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate38 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 800px;
}

#animate39 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 900px;
}

#animate40 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

#animate41 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 400px;
}

#animate42 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 300px;
}

#animate43 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate44 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 600px;
}

#animate45 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 900px;
}

#animate46 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 500px;
}

#animate47 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 700px;
}

.start-button {
  background-color:#6A9BFF;
  color:#FFC33D;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

.start-button2 {
  background-color:#6A9BFF;
  color:#FFC33D;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

.start-button3 {
  background-color:#6A9BFF;
  color:#FFC33D;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}